altacv.cls
fmartinez.aux
fmartinez.fdb_latexmk
fmartinez.log
fmartinez.fls
fmartinez.out
fmartinez.run.xml
fmartinez.synctex.gz
fmartinez.tex
latexmkrc
pdfa.xmpi
pdfa.xmpi
pubs-authoryear.tex
pubs-authoryear.tex
pubs-num.tex